body{
    background-color: #17263A;
    font-family:'Helvetica';
    
    }

    .navbar
{
    background-color: #233958;}

.nav-link
{
    color: #fff;
    
}

.navbar-brand{
    color: #fff;
    padding: 13px;
    font-size:xx-large;
}

.about
{
    padding-top: 100px;
    margin-bottom: -130px;
}


.nav-bar
{
    top: 0;
    position: sticky;
    z-index: 2;
}

.nav-bar .fa-bars
{
    font-size: 35px;
    color: #fff;
}
.navbar-toggler
{
    outline: none;
    color: #fff;
}
.navbar-nav
{
    float: right;
    text-align: right;
    padding: 10px;
}
.nav-link
{
    color: #fff;
    font-size:x-large;
}
.skills-bar p
{
    margin-bottom: 6px;
    font-weight: 600;
}
.progress
{
    border-radius: 16px;
    margin-bottom: 10px;
}
.progress-bar
{
    border-radius: 16px;
    background: #233958;
}

.nav-bar .fa-bars
{
    font-size: 35px;
    color: #fff;
}



.social-footer {
    padding: 2rem;
    background: #0C1B31;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
            width: 100%;
            bottom: 0; 
          
  }
  
  .social-footer .social-footer-icons li:last-of-type {
    margin-right: 0;
  }
  
  .social-footer .social-footer-icons .fa {
    font-size: 1.3rem;
    color: #fefefe;
  }
  
  .social-footer .social-footer-icons .fa:hover {
    color: #FFDED6;
    transition: color 0.3s ease-in;
  }
  
  .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  
  .fa:hover {
    opacity: 1.5;
  }
  


h2{
    color: #ffffff;
    font-size: 40px;
    text-align:left;
    padding: 20px;
  }

 

  iframe{
      padding: 20px;
     
  }

 #musicparagraph{
    color: #ffffff;
    font-size: 30px;
    text-align:left;
    padding: 20px;
    width: 90%;
  }

  #videoparagraph{
    color: #ffffff;
    font-size: 30px;
    text-align:left;
    padding: 20px;
  }

  #photographyparagraph{
    color: #ffffff;
    font-size: 30px;
    text-align:left;
    padding: 20px;
  }

  * {box-sizing:border-box}

  .slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
    padding: 20px;
  }

  .mySlides {
    display: none;
  }

  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }


  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 3s;
    animation-name: fade;
    animation-duration: 3s;
  }

  @-webkit-keyframes fade {
    from {opacity: .3}
    to {opacity: 2}
  }

  @keyframes fade {
  from {opacity: .5}
  to {opacity: 1}
}


#container {  
    display: grid;  
    grid-gap: 5px;  
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    grid-template-rows: repeat(2, minmax(100px, 1fr));  
}

#container > div > img {  
    width: 100%;  
    height: 100%;  
    object-fit: cover;  
}

.h3{
font-size: 60px;

}

.button{
  position: relative;
}

.card{
  height: 100%;
  width: 50rem;
  background-color: #17263A; 
}

.card-img-top{
    
  border-radius: 50%;
  width: 100%;
  border: 2px solid #17263A;
  max-width: 100%;
  padding: 40px;
      
}

.card-title{

  color: white;
  font-size: 70px;
  text-align: center;
  padding: 40px;
  position: relative;
  font-family: 'Helvetica Neue';
  

}

.card-text{

  color: white;
  font-size: 70px;
  margin-top: 150px;

  
}


.card-img-bottom{
  
  border-radius: 50%;
  width: 70%;
  border: 2px solid #17263A;
  max-width: 100%;
  padding: 50px;
  position: center;
  margin-top: 100px;

}

.container-fluid{

  margin-top: 350px;
  margin-bottom: 400px;
  justify-content: center;
}

h4{
  color: #ffffff;
  font-size: 40px;
  text-align:center;
  padding: 20px;
  justify-content: center;
}


.container-breakpoint{
  margin-top: 20px;
  margin-bottom: 150px;
}