body{
background-color: black;
}

.banner{
    position: relative;
  }
  .banner img{
    max-width: 100%;
  }
  
  nav{
    background: hsl(0, 0%, 0%);
    padding: 10px;
    position: sticky;
    top: 106px;
    z-index: 1;
  }
  nav ul{
    white-space: nowrap;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
  }
  nav li{
    width: 20%;
    display: inline-block;
    font-size: 20px;
  }
  nav li a{
    text-decoration: none;
    color: #ffffff;
  }
  nav li a:hover{
    text-decoration: underline;
  }
  nav li a.homepage{
    color: #ffffff;
  }
  
  
 h3{
    color: #ffffff;
    font-size: 20px;
    text-align: center;
  }

   h4{
    color: #ffffff;
    font-size: 20px;
    text-align: center;
  }

   p{
    line-height: 2em;
    color: #ffffff;
    text-align: center;
  }

   h4{
    line-height: 2em;
    color: #ffffff;
    text-align:center
  }
  
  img {
    max-width: 50%;
    padding-top: 50px;
    }


    .dragontext {
        background-color: rgb(0, 0, 0);
    
        height: 200px;
        width: 300px;
        text-align: center;
        color: white;

    }

    .willowtext {
        background-color: rgb(0, 0, 0);
    
        height: 200px;
        width: 300px;
        text-align: center;
        color: white;

    }

    .fighttext {
        background-color: rgb(0, 0, 0);
    
        height: 200px;
        width: 300px;
        text-align: center;
        color: white;

    }

    .flex-container {
   
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          height: 200px;
          align-items: flex-start;        
    }

.footer {
    text-align: center;
    align-items: center; 
}